
<%- include ('./layout.ejs') %>

    <h3> <%- message %> </h3>
    <div>
        <a href="/signup-player">Signup As a Player</a>
        <a href="/signup-coach">Signup As a Coach</a>
        <a href="/login">Login</a>
    </div>
<%- include ('./footer.ejs') %>