
<%- include ('./layout.ejs') %>
  <section class="gallery">
    
  </section>
  
  <div class="app">
    <div class="home">
        <div class="intro-header">
            <h2>Hello! Welcome to Train2Win App</h2>
        </div>
        <div>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
        </div>
    </div>
</div>
  
  <section class="map">

  </section>
  <section class="achievements">
    <h2>Achievements</h2>
    
  </section>
  <section class="testimonials">
    <h2>Testimonials</h2>
    
  </section>
  
  <%- include ('./footer.ejs') %>